@import "tailwindcss";
@plugin "daisyui";

@theme {
    --color-blue: #131537;
    --background-image-triangle: url(../images/triangle.svg);
}

/* all  */
div[data-mode] > ul {
    /* grid-template-columns: repeat(2, 1fr); */
    @apply grid-cols-2;
}


/* data mode simple */
div[data-mode="simple"] > ul {
    background-image: url(../images/triangle.svg);
    background-repeat: no-repeat;
    background-position: center;
    column-gap: 80px;
    row-gap: 24px;
} 

div[data-mode="simple"] > ul > li:nth-child(4) {
    display: none;
}
div[data-mode="simple"] > ul > li:nth-child(5) {
    display: none;
}
div[data-mode="simple"] > ul>li:nth-child(3) {
    grid-column: 1/3;
    place-self: center;
} 

div[data-mode="simple"] img {
    width: 209px;
    height: 198px;
}
/* data mode advanced */
div[data-mode="advanced"] > ul {
    column-gap: 52px;
    row-gap: 32px;
    background-image: url("../images/Polygon.svg");
    background-position: center;
    background-repeat: no-repeat;

}

div[data-mode="advanced"] > ul >li:nth-child(1){
    grid-column: 1/3;
    margin-bottom: -55px;
    place-self: center;    
}
div[data-mode="advanced"] > ul >li:nth-child(2){
    place-self: start;    
}
div[data-mode="advanced"] > ul >li:nth-child(3){
    place-self: end;    
}
div[data-mode="advanced"] > ul >li:nth-child(4){
    place-self: end;    
}
div[data-mode="advanced"] > ul >li:nth-child(5){
    place-self: start;    
}

div[data-mode="advanced"] img {
    width: 145px;
    height: 148px;
}

/* Play section images */
#user, #robot {
    width: 209px !important;
    height: 198px !important;
}